<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>إضافة منتج</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="form-box">
    <h2>➕ انشر منتجك في السوق</h2>

    <form method="POST" enctype="multipart/form-data">
        <input name="seller_name" placeholder="اسم البائع" required>

        <input name="whatsapp" placeholder="رقم واتساب مثال: 9647700000000" required>

        <input name="title" placeholder="اسم المنتج" required>

        <input name="price" placeholder="السعر بالدينار" required>

        <select name="category" required>
            <option value="">اختر التصنيف</option>
            {% for c in categories %}
            <option>{{ c }}</option>
            {% endfor %}
        </select>

        <textarea name="description" placeholder="وصف المنتج" rows="5"></textarea>

        <label>صورة المنتج</label>
        <input type="file" name="image">

        <button type="submit">نشر المنتج</button>
    </form>

    <a href="/">رجوع للرئيسية</a>
</div>

</body>
</html>