<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin - Zenvy</title>
    <div class="stats-grid">
        <div class="stat-card">
            <h3>{{ total_users }}</h3>
            <p>Users</p>
        </div>
    
        <div class="stat-card">
            <h3>{{ total_products }}</h3>
            <p>Total Products</p>
        </div>
    
        <div class="stat-card pending">
            <h3>{{ pending_products }}</h3>
            <p>Pending</p>
        </div>
    
        <div class="stat-card approved">
            <h3>{{ approved_products }}</h3>
            <p>Approved</p>
        </div>
    
        <div class="stat-card rejected">
            <h3>{{ rejected_products }}</h3>
            <p>Rejected</p>
        </div>
    
        <div class="stat-card featured">
            <h3>{{ featured_requests }}</h3>
            <p>Featured Requests</p>
        </div>
    </div>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="admin-header">
    <h1>Zenvy Admin</h1>
    <a class="btn" href="/">Home</a>
    <a class="btn danger" href="/logout">Logout</a>
</div>

<h2 class="section-title">Users</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>WhatsApp</th>
        <th>Products</th>
    </tr>

    {% for u in users %}
    <tr>
        <td>{{ u.full_name }}</td>
        <td>{{ u.username }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.whatsapp }}</td>
        <td>{{ u.products|length }}</td>
    </tr>
    {% endfor %}
</table>

<h2 class="section-title">Products</h2>

<table>
    <tr>
        <th>Image</th>
        <th>Product</th>
        <th>Seller</th>
        <th>Price</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for p in products %}
    <tr>
        <td>
            {% if p.image_name %}
                <img class="admin-img" src="/static/uploads/{{ p.image_name }}">
            {% else %}
                No image
            {% endif %}
        </td>
        <td>{{ p.title }}</td>
        <td>{{ p.seller.full_name }}</td>
        <td>{{ p.price }}</td>
        <td>
            {% if p.is_active %}
                Approved
            {% elif p.is_rejected %}
                Rejected
            {% else %}
                Pending
            {% endif %}
        </td>
        <td>{{ "Visible" if p.is_active else "Hidden" }}</td>
        <td>
            <a class="delete" href="/admin/delete-product/{{ p.id }}"
               onclick="return confirm('Delete product?')">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>