<!DOCTYPE html>
<html>
<head>

    <title>Translation Result</title>

    <style>

        body{
            background:#0f172a;
            color:white;
            font-family:Arial;
            text-align:center;
            padding:100px;
        }

        .box{
            background:#1e293b;
            padding:40px;
            border-radius:20px;
            width:70%;
            margin:auto;
        }

        .status{
            color:#22c55e;
            font-size:24px;
        }

    </style>

</head>

<body>

<div class="box">

    <h1>Book Uploaded Successfully</h1>

    <p>{{ filename }}</p>

    <p class="status">{{ status }}</p>

</div>

</body>
</html>